/* add custom styles */
html {
    height: 100%;
}

body {
    background-image: url('../assets/Ben_Katie-33_1800.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: Open Sans, Arial, sans-serif;
    height: 100%:
}

img.background {
    min-height: 100%;
    min-width: 100%;

    position: fixed;
    top: 0;
    left: 0;
}

@font-face {
    font-family: PegsannaHMK;
    src: url('../assets/pegsannahmk.ttf');
}

.nav ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 10%;
    display: inline-block;
    padding-right: 3%;
    padding-left: 3%;
}

.nav ul li {
    margin-top: 8px;
    font-family: PegsannaHMK;
}

.nav ul:last-child {
    padding-bottom: 10px;
}

.nav ul li a {
    color: #c5b358;
    padding: 5px;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Playfair Display, serif;
}

.headline {
    text-align: center;
    font-family: PegsannaHMK;
    font-size: 72px;
    color: #293037;
    text-shadow: 1px 1px 1px #c5b358;
}

.date {
    text-align: center;
    font-family: PegsannaHMK;
    font-size: 32px;
    /*color: #293037;*/
    color: #c5b358;
    text-shadow: 1px 1px 1px #293037;
}

.countdown {
    color: #c5b358;
    text-shadow: 0px 1px 1px #293037;
    font-size: 18px;
}

.check-back {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15%;
    margin-top: 50%;
    margin-left: 10px;
    color: white;
    font-family: PegsannaHMK;
}

.navbar {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
    font-family: PegsannaHMK;
    padding-top: 18px;
}

.well-container {
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel {
    max-height: 342px;
}

.item img {
    max-height: 342px;
}

#hie-map, #spring-map {
    min-height: 300px;
    min-width: 300px;
    height: 100%;
    width: 100%;
    margin-top: 1em;
}
