/* add custom styles */
body {
    background-image: url('../assets/Ben_Katie-33_1800.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

img.background {
    min-height: 100%;
    min-width: 100%;

    position: fixed;
    top: 0;
    left: 0;
}

@font-face {
    font-family: PegsannaHMK;
    src: url('../assets/pegsannahmk.ttf');
}

.nav ul {
    list-style: none;
    margin-top: 10%;
    margin-left: 6%;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding-right: 6%;

}

.nav ul li a {
    color: #c5b358;
    padding: 10px;
    display: block;
}

.headline {
    text-align: center;
    font-family: PegsannaHMK;
    font-size: 72px;
    /*color: #c5b358;*/
    color: #293037;
}

.date {
    text-align: center;
    font-family: PegsannaHMK;
    font-size: 32px;
    /*color: #c5b358;*/
    color: #293037;
}
